@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
    background: url('../Images/abstract-rainbow-wallpaper-bd5b4-set-as-desktop-1920x1200-187-kb.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem;
}

h1, label, p {
    color: whitesmoke;
}

img {
    background-color: hotpink
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: left;
}

#productDiv ul {
    list-style: none;
}

.color {
    color: fuchsia;
}

.orange {
    color: orange;
}

.green {
    color: lawngreen;
}

.blue {
    color: deepskyblue;
}
